/* ----------------------------Reset default styles and set base styles ----------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(24, 23, 23);
}

/* ----------------------------Header Styles---------------------------- */
header {
    background-color: rgb(3, 0, 3);
    color: gold;
    text-align: left;
    
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* ----------------------------Logo Styles---------------------------- */
.logo-container {
    max-width: 50%;
    text-align: center;
  }
  
  .logo-container img {
    max-width: 50%;
    max-height: 100%;
    min-width: 360px;
  }
  
  #notice {
    color: rgb(215, 160, 9);
    text-align: center;
  }

/* ----------------------------Top-Level Intro Styles---------------------------- */
#topLevelIntro {
    margin: 0;
}

/* ----------------------------Navigation Styles---------------------------- */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #020000;
    padding: 1%;
    padding-bottom: 2%;
  }
  
  nav li {
    margin-right: 20px;
    text-align: center;
    display: inline-block;
    margin: 1% 0;
  }
  
  nav a {
    text-decoration: none;
    color: gold;
  }
  
  nav a:hover {
    color: rgb(244, 145, 15);
  }

.text-container {
    clear: both;
    padding-top: 1%; 
    text-align: center;
}
/*---------------------------- Main Content Styles---------------------------- */
main {
    position: relative;
}

main .Welcome {
   color: gold; 
}

main .creditor {
    color: gold;
}
.background-container {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    height: 100%;
}

.left {
    left: 0;
    min-width: auto;
}

.right {
    right: 0;
}

#notice {
    color: rgb(215, 160, 9);
}

main #Welcome {
    text-align: center;
    color: gold;
}

/* ----------------------------Footer Styles ----------------------------*/
#return {
    text-align: center;

    background-color: rgb(3, 0, 3);
    color: gold;
    clear: both;
    border-top: 2px solid black;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(3, 0, 3);
    color: gold;
    clear: both;
    border-top: 2px solid black;
}

/* ----------------------------Refusal Message Styles ----------------------------*/
.refusal {
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}

/* ----------------------------Address Styles---------------------------- */
address {
    margin-top: 5px;
}

@media only screen and (max-width: 630px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }

}