/* ----------------------------Reset default styles and set base styles ----------------------------*/
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(24, 23, 23);
}

/* ----------------------------Header Styles---------------------------- */
header {
    background-color: rgb(3, 0, 3);
    color: gold;
    text-align: center;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* ----------------------------Logo Styles---------------------------- */
.logo-container {
    max-width: 50%;
    min-width: 350px;
}

.logo-container img {
    max-width: 100%;
    min-width: 150px;
    float: center; 
}

.text-container {
    max-width: 50%; /*will require media query to drop text below?*/
}

/* ----------------------------Top-Level Intro Styles---------------------------- */
#topLevelIntro {
    margin: 0;
}

/* ----------------------------Navigation Styles---------------------------- */
#nav_menu {
    margin: auto;
    width: 800px;
}

#nav_menu ul li {
    float: left;
}

#nav_menu ul li a {
    text-align: center;
    display: block; 
    width: 175px;
    padding: 1em 0;
    text-decoration: none;
    background-color:rgb(170, 167, 170);
    color: white; 
    font-weight: bold; 
    border-right: 2px solid white; 
}



nav a {
    text-decoration: none;
    color: gold;
    font-weight: bold;
    display: block;
    text-align: center;
    width: 175px; 
    background-color: rgb(157, 8, 150);
}

#nav_menu ul li a.lastitem {
    border-right: none; 
}

#nav_menu a:hover {
    color: rgb(94, 26, 70);
}

.text-container {
    clear: both;
    padding-top: 1%; 
    text-align: center;
}
/*---------------------------- Main Content Styles---------------------------- */
main {
    position: relative;
}

main .Welcome {
   color: gold; 
}

main .creditor {
    color: gold;
}
.background-container {
    position: relative;
}

.background-image {
    position: absolute;
    top: 0;
    height: 100%;
}

.left {
    left: 0;
    min-width: 300px;
}

.right {
    right: 0;
}

#notice {
    color: rgb(215, 160, 9);
}

main #Welcome {
    text-align: center;
    color: gold;
}

/* ----------------------------Footer Styles ----------------------------*/
#return {
    text-align: center;

    background-color: rgb(3, 0, 3);
    color: gold;
    clear: both;
    border-top: 2px solid black;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: rgb(3, 0, 3);
    color: gold;
    clear: both;
    border-top: 2px solid black;
}

/* ----------------------------Refusal Message Styles ----------------------------*/
.refusal {
    font-style: italic;
    font-weight: bold;
    margin-top: 5px;
}

/* ----------------------------Address Styles---------------------------- */
address {
    margin-top: 5px;
}

@media only screen and (max-width: 630px) {
    #nav_menu ul li {
        float: none;
        width: 100%;
    }

}