/*  ---------------------------Reset default styles and set base styles  ---------------------------*/

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(24, 23, 23);
}

/*  ---------------------------Header Styles /* Header Styles  ---------------------------*/
header {
  background-color: rgb(3, 0, 3);
  color: gold;
  text-align: left;

  display: flex;
  align-items: center;
  flex-direction: column; /* Adjusted to stack items vertically */
}

<<<<<<< HEAD
/* ---------------------------- background video setup ----------------------------*/
.background-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Place it behind the content */
  filter: brightness(
    70%
  ); /* Adjust the brightness as needed - adjust to help with text legibility */
}

/* cover the entire container */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ----------------------------Logo Styles ----------------------------*/

=======
/* ----------------------------Logo Styles ----------------------------*/
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
.logo-container {
  max-width: 50%;
  text-align: center;
}

.logo-container img {
  max-width: 50%;
  max-height: 100%;
  min-width: 360px;
<<<<<<< HEAD
  height: 250px;
  align-items: center;
}

#notice,
#notice2 {
  color: rgb(205, 199, 28);
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  text-shadow: 2px 2px 2px rgb(181, 16, 16); /* Adjust the shadow as needed */
}
/*
/*.logo-container {
  max-width: 50%;
  text-align: center;
}

.logo-container img {
  max-width: 50%;
  max-height: 100%;
  min-width: 360px;
=======
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
}

#notice {
  color: rgb(215, 160, 9);
  text-align: center;
}
<<<<<<< HEAD
*/
=======
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e

/*---------------------------- Navigation Styles---------------------------- */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #020000;
  padding: 20px;
  padding-bottom: 2%;
}

nav li {
  margin-right: 20px;
  text-align: center;
  display: inline-block;
<<<<<<< HEAD
=======
  margin: 10px 0;
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
}

nav a {
  text-decoration: none;
  color: gold;
}

nav a:hover {
  color: rgb(244, 145, 15);
}

/* -------------------------- Gallery Styles ----------------------------*/
.gallery-container {
  width: 50%;
  margin: auto;
<<<<<<< HEAD
  max-height: 850px;
  text-align: center;
  overflow: hidden; /*needed to hide the height of the video*/
  z-index: -1; /* Place it behind the content */
  padding-top: 1%;
}

.gallery-slide video,
img {
  max-height: 800px;
}
/*
.gallery-container.pedicure-slide {
  
}
*/

.gallery-slide img,
.gallery-slide video {
=======
  height: 850px;
  text-align: center;
}

.gallery-slide {
  width: 100%;
}

.gallery-slide img {
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
  width: 50%;
  height: 50%;
  text-align: center;
  min-width: 350px;
<<<<<<< HEAD
  border: 10px groove gold;
=======
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
}

/*---------------------------- Customer Reviews Styles ----------------------------*/
#review1 img,
#review2 img {
  width: 60%;
<<<<<<< HEAD
  min-width: 350px;
  max-width: 20%;
  padding-left: 9%;
  padding-right: 9%;
  
  
=======
  padding: 1%;
  min-width: 350px;
  padding-left: 9%;
  padding-right: 9%;
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
}

#review1 img {
  padding-left: 9%;
<<<<<<< HEAD
  padding-right: 2%;
}
#review2 img {
  padding-right: 9%;
  padding-left: 2%;
=======
  padding-right: 9%;
}
#review2 img {
  padding-right: 9%;
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
}

#review1,
#review2 {
  display: flex;
  align-items: center;
  margin-top: 5%;
  padding-left: 1%;
  padding-right: 1%;
  color: gold;
<<<<<<< HEAD
  /* Google font */
  font-family: "Amiri Quran", serif;
  font-weight: 400;
  font-style: normal;
}
#review1 {
  padding-right: 10%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
}

#review2 {
  flex-direction: row-reverse;
  padding-left: 10%;
=======
      /* Google font */
      font-family: "Amiri Quran", serif;
      font-weight: 400;
      font-style: normal;
}
#review2 {
  flex-direction: row-reverse;
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e
}

/*---------------------------- Footer Styles ----------------------------*/

#return {
  text-align: center;
  padding: 0;
  background-color: rgb(3, 0, 3);
  color: gold;
  clear: both;
  border: gold;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(3, 0, 3);
  color: gold;
  clear: both;
  border-top: 2px solid black;
}

/*MEDIA QUERY*/

@media screen and (max-width: 768px) {
  #nav_menu ul {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 2%;
<<<<<<< HEAD
  }
}
=======
}}
>>>>>>> f05452b9244783e81c5afeb27e1bc57a5815435e

@media screen and (max-width: 768px) {
  #review1,
  #review2 {
    flex-direction: column;
    align-items: center;
    padding: 4%;
  }
}

/*

menus to fix
    #nav_menu ul 
    #review1
    #review2


Userful Options:
        text-align  -- aligns text
        align-items -- needed for flexboxes
        flex-direction: row/column
        float: none;
        width: 100%;
        padding:
    }
    
    */
