/* ----------------------------Reset default styles and set base styles ----------------------------*/
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(138, 135, 135);
}

/*  ---------------------------Header Styles /* Header Styles  ---------------------------*/
header {
  background-color: rgb(3, 0, 3);
  color: gold;
  text-align: left;
  display: flex;
  align-items: center;
  flex-direction: column; /* Adjusted to stack items vertically */
}

.timeslots {
  display: grid;
  grid-column: 2;
  gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.container {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

label.checkbox-label {
  display: block;
  margin-bottom: 5px;
}
label.checkbox-label input[type="checkbox"] {
  margin-right: 5px;
}

/* ---------------------------- background video setup ----------------------------*/

.background-video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1; /* Place it behind the content */
  filter: brightness(
    70%
  ); /* Adjust the brightness as needed - adjust to help with text legibility */
}

/* cover the entire container */
video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
/* ----------------------------Logo Styles---------------------------- */
.logo-container {
  max-width: 50%;
  text-align: center;
}

.logo-container img {
  max-width: 50%;
  max-height: 100%;
  min-width: 360px;
  height: 250px;
  align-items: center;
}

#notice,
#notice2 {
  color: rgb(205, 199, 28);
  text-align: center;
  padding-right: 5%;
  padding-left: 5%;
  text-shadow: 2px 2px 2px rgb(21, 4, 4); /* Adjust the shadow as needed */
}
/*---------------------------- ABOUT ME IMAGE ---------------------------- */
div img {
  max-width: 30%;
  max-height: 30%;
  height: 20%;
  text-align: center;
  min-width: 350px;
}

.aboutMeFace {
  border: 10px groove gold;
}

/*---------------------------- Navigation Styles---------------------------- */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: #020000;
  padding: 20px;
  padding-bottom: 2%;
}

nav li {
  margin-right: 20px;
  text-align: center;
  display: inline-block;
}

nav a {
  text-decoration: none;
  color: gold;
}

nav a:hover {
  color: rgb(244, 145, 15);
}
/*---------------------------- Main ----------------------------*/
div {
  color: yellow;
  text-align: center;
  height: 100%;
}
main {
  max-height: 400px;
  overflow-y: auto; /* vertical scrollbar when content is to large*/
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
  align-items: center;
  padding-top: 3%;
}

/*---------------------------- Footer Styles ----------------------------*/
.footer {
  text-align: center;
  padding: 10px;
  background-color: rgb(3, 0, 3);
  color: gold;
  clear: both;
  border-top: 2px solid black;
}
/*---------------------------- GOOGLE FONTS ----------------------------*/
#notice1,
notice2 {
  font-family: "Amiri Quran", serif;
  font-weight: 400;
  font-style: normal;
}



/*---------------------------- MEDIA QUERIES ----------------------------*/

@media screen and (max-width: 768px) {
  #nav_menu ul {
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    padding: 2%;
  }
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr; /* Adjusted for smaller screens */
    grid-gap: 10px; /* Adjusted grid gap for smaller screens */
  }
}
